sample-mdm/sample-mdm/WEB-INF/ebx/schemas/BasicTypesDataModel.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--XML schema generated from EBX(TM) DMA instance [reference=BasicTypesDataModel] on Fri Jan 03 14:34:32 EST 2020 by user [admin].-->
<xs:schema xmlns:osd="urn:ebx-schemas:common_1.0" xmlns:fmt="urn:ebx-schemas:format_1.0" xmlns:ebxbnd="urn:ebx-schemas:binding_1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ebxs="urn:ebx-schemas:session_1.0">
    <xs:import namespace="urn:ebx-schemas:common_1.0" schemaLocation="http://schema.orchestranetworks.com/common_1.0.xsd"/>
    <xs:import namespace="urn:ebx-schemas:session_1.0" schemaLocation="http://schema.orchestranetworks.com/session_1.0.xsd"/>
    <xs:simpleType name="BaseDate">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base Date</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:minInclusive value="1900-01-01">
                <xs:annotation>
                    <xs:appinfo>
                        <osd:validation>
                            <message>Year must be 4 digits and no earlier than 1/1/1900</message>
                        </osd:validation>
                    </xs:appinfo>
                </xs:annotation>
            </xs:minInclusive>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseDateTime">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base DateTime</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:minInclusive value="1900-01-01T00:00:00.000">
                <xs:annotation>
                    <xs:appinfo>
                        <osd:validation>
                            <message>Year must be 4 digits and no earlier than 1/1/1900</message>
                        </osd:validation>
                    </xs:appinfo>
                </xs:annotation>
            </xs:minInclusive>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseLongString">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base Long String</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseString">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base String</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseText">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base Text</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="osd:text">
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DayOfMonth">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Day of Month</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1">
                <xs:annotation>
                    <xs:appinfo>
                        <osd:validation>
                            <message>Day of Month must be at least 1</message>
                        </osd:validation>
                    </xs:appinfo>
                </xs:annotation>
            </xs:minInclusive>
            <xs:maxInclusive value="31">
                <xs:annotation>
                    <xs:appinfo>
                        <osd:validation>
                            <message>Day of Month must be at most 31</message>
                        </osd:validation>
                    </xs:appinfo>
                </xs:annotation>
            </xs:maxInclusive>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DayOfWeek">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Day Of Week</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration osd:label="1 - Sunday" value="Sunday"/>
            <xs:enumeration osd:label="2 - Monday" value="Monday"/>
            <xs:enumeration osd:label="3 - Tuesday" value="Tuesday"/>
            <xs:enumeration osd:label="4 - Wednesday" value="Wednesday"/>
            <xs:enumeration osd:label="5 - Thursday" value="Thursday"/>
            <xs:enumeration osd:label="6 - Friday" value="Friday"/>
            <xs:enumeration osd:label="7 - Saturday" value="Saturday"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EmailAddress">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Email Address</osd:label>
            </xs:documentation>
            <xs:appinfo>
                <osd:otherFacets>
                    <osd:constraint class="com.orchestranetworks.ps.constraint.EmailAddressConstraint"/>
                </osd:otherFacets>
            </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Gender">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Gender</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="BaseString">
            <xs:enumeration value="Female"/>
            <xs:enumeration value="Male"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Month">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Month</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:int">
            <xs:enumeration osd:label="January" value="1"/>
            <xs:enumeration osd:label="February" value="2"/>
            <xs:enumeration osd:label="March" value="3"/>
            <xs:enumeration osd:label="April" value="4"/>
            <xs:enumeration osd:label="May" value="5"/>
            <xs:enumeration osd:label="June" value="6"/>
            <xs:enumeration osd:label="July" value="7"/>
            <xs:enumeration osd:label="August" value="8"/>
            <xs:enumeration osd:label="September" value="9"/>
            <xs:enumeration osd:label="October" value="10"/>
            <xs:enumeration osd:label="November" value="11"/>
            <xs:enumeration osd:label="December" value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Percentage">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Percentage</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="6"/>
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Base">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Id</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:autoIncrement/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="BaseString" minOccurs="1" maxOccurs="1" osd:checkNullInput="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Name</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="BaseText" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Description</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BaseAudit">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base Audit</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="createDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1" osd:disableValidation="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Create Date Time</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:function class="com.orchestranetworks.ps.valuefunction.CreateDateTimeValueFunction"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="createdBy" type="xs:string" minOccurs="0" maxOccurs="1" osd:disableValidation="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Created By</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:function class="com.orchestranetworks.ps.valuefunction.CreatorUserIDFunction"/>
                        <osd:otherFacets>
                            <osd:constraintEnumeration class="com.orchestranetworks.ps.constraint.UserConstraintEnumeration"/>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="lastUpdateDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1" osd:disableValidation="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Last Update Date Time</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:function class="com.orchestranetworks.ps.valuefunction.LastUpdateDateTimeValueFunction"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="lastUpdatedBy" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Last Updated By</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:function class="com.orchestranetworks.ps.valuefunction.LastUpdateUserIDValueFunction"/>
                        <osd:otherFacets>
                            <osd:constraintEnumeration class="com.orchestranetworks.ps.constraint.UserConstraintEnumeration"/>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BaseAuditPersisted">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base Audit Persisted</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="createDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Create Date Time</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:trigger class="com.orchestranetworks.ps.trigger.BaseAuditPersistedFieldsTableTrigger"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="createdBy" type="BaseString" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Created By</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:constraintEnumeration class="com.orchestranetworks.ps.constraint.UserConstraintEnumeration">
                                <alwaysReadOnly>true</alwaysReadOnly>
                            </osd:constraintEnumeration>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="lastUpdateDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Last Update Date Time</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="lastUpdatedBy" type="BaseString" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Last Updated By</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:constraintEnumeration class="com.orchestranetworks.ps.constraint.UserConstraintEnumeration">
                                <alwaysReadOnly>true</alwaysReadOnly>
                            </osd:constraintEnumeration>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BaseStringId">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base String Id</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="BaseString" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Id</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="BaseString" minOccurs="1" maxOccurs="1" osd:checkNullInput="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Name</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="BaseText" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Description</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BaseWithCode">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base With Code</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Id</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:autoIncrement/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="code" type="BaseString" minOccurs="1" maxOccurs="1" osd:checkNullInput="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Code</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="BaseString" minOccurs="1" maxOccurs="1" osd:checkNullInput="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Name</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="BaseText" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Description</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BaseWithLongStringName">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Base With Long String Name</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Id</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:autoIncrement/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="BaseLongString" minOccurs="1" maxOccurs="1" osd:checkNullInput="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Name</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="BaseText" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Description</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateRange">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Date Range</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="startDate" type="BaseDate" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Start Date</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="endDate" type="BaseDate" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>End Date</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:minInclusive path="../startDate"/>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateRangeNoFuture">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Date Range No Future</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="startDate" type="BaseDate" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Start Date</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:constraint class="com.orchestranetworks.ps.constraint.DateNotInFutureConstraint"/>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="endDate" type="BaseDate" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>End Date</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:minInclusive path="../startDate"/>
                            <osd:constraint class="com.orchestranetworks.ps.constraint.DateNotInFutureConstraint"/>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateRangeWithRequiredStartDate">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Date Range With Required Start Date</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="startDate" type="BaseDate" minOccurs="1" maxOccurs="1" osd:checkNullInput="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Start Date</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="endDate" type="BaseDate" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>End Date</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:minInclusive path="../startDate"/>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateRangeWithRequiredStartDateNoFuture">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Date Range With Required Start Date No Future</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="startDate" type="BaseDate" minOccurs="1" maxOccurs="1" osd:checkNullInput="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Start Date</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:constraint class="com.orchestranetworks.ps.constraint.DateNotInFutureConstraint"/>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="endDate" type="BaseDate" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>End Date</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:minInclusive path="../startDate"/>
                            <osd:constraint class="com.orchestranetworks.ps.constraint.DateNotInFutureConstraint"/>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimeRange">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Date Time Range</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="startDateTime" type="BaseDateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Start Date Time</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="endDateTime" type="BaseDateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>End Date Time</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimeRangeNoFuture">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Date Time Range No Future</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="startDateTime" type="BaseDateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Start Date Time</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:constraint class="com.orchestranetworks.ps.constraint.DateNotInFutureConstraint"/>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="endDateTime" type="BaseDateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>End Date Time</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:minInclusive path="../startDateTime"/>
                            <osd:constraint class="com.orchestranetworks.ps.constraint.DateNotInFutureConstraint"/>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimeRangeWithRequiredStartDateTime">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Date Time Range With Required Start Date Time</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="startDateTime" type="BaseDateTime" minOccurs="1" maxOccurs="1" osd:checkNullInput="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Start Date Time</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="endDateTime" type="BaseDateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>End Date Time</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:minInclusive path="../startDateTime"/>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimeRangeWithRequiredStartDateTimeNoFuture">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Date Time Range With Required Start Date Time No Future</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="startDateTime" type="BaseDateTime" minOccurs="1" maxOccurs="1" osd:checkNullInput="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Start Date Time</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:constraint class="com.orchestranetworks.ps.constraint.DateNotInFutureConstraint"/>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="endDateTime" type="BaseDateTime" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>End Date Time</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:minInclusive path="../startDateTime"/>
                            <osd:constraint class="com.orchestranetworks.ps.constraint.DateNotInFutureConstraint"/>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeographicPoint">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Geographic Point</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="latitude" type="xs:decimal" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Latitude</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="longitude" type="xs:decimal" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Longitude</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GeographicPointRequired">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Geographic Point Required</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="latitude" type="xs:decimal" minOccurs="1" maxOccurs="1" osd:checkNullInput="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Latitude</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="longitude" type="xs:decimal" minOccurs="1" maxOccurs="1" osd:checkNullInput="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Longitude</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonName">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Person Name</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="firstName" type="BaseString" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>First Name</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="middleName" type="BaseString" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Middle Name</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="lastName" type="BaseString" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Last Name</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Phone">
        <xs:sequence>
            <xs:element name="countryCode" type="BaseString" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Country Code</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="areaCode" type="BaseString" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Area Code</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="localNumber" type="BaseString" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Local Number</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SeasonalDateRange">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Seasonal Date Range</osd:label>
                <osd:description>A date range that is year agnostic -- in other words, a start month/day and an end month/day (may span the boundary of a year).</osd:description>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="startMonth" type="Month" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Start Month</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="startDay" type="DayOfMonth" minOccurs="0" maxOccurs="1" osd:checkNullInput="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Start Day</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:constraint class="com.orchestranetworks.ps.constraint.FieldConditionallyRequiredConstraint">
                                <otherFieldPath>../startMonth</otherFieldPath>
                                <otherFieldValue>&lt;not-null&gt;</otherFieldValue>
                            </osd:constraint>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="endMonth" type="Month" minOccurs="0" maxOccurs="1" osd:checkNullInput="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>End Month</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:constraint class="com.orchestranetworks.ps.constraint.FieldConditionallyRequiredConstraint">
                                <otherFieldPath>../startMonth</otherFieldPath>
                                <otherFieldValue>&lt;not-null&gt;</otherFieldValue>
                            </osd:constraint>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="endDay" type="DayOfMonth" minOccurs="0" maxOccurs="1" osd:checkNullInput="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>End Day</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:constraint class="com.orchestranetworks.ps.constraint.FieldConditionallyRequiredConstraint">
                                <otherFieldPath>../startMonth</otherFieldPath>
                                <otherFieldValue>&lt;not-null&gt;</otherFieldValue>
                            </osd:constraint>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeAmount">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Time Amount</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="timeValue" type="xs:decimal" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Time Value</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="timeUnits" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Time Units</osd:label>
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="BaseString">
                        <xs:enumeration value="Seconds"/>
                        <xs:enumeration value="Minutes"/>
                        <xs:enumeration value="Hours"/>
                        <xs:enumeration value="Days"/>
                        <xs:enumeration value="Weeks"/>
                        <xs:enumeration value="Months"/>
                        <xs:enumeration value="Years"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeRange">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Time Range</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="startTime" type="xs:time" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Start Time</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="endTime" type="xs:time" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>End Time</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:minInclusive path="../startTime"/>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TimeRangeRequired">
        <xs:annotation>
            <xs:documentation xml:lang="en-US">
                <osd:label>Time Range Required</osd:label>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="startTime" type="xs:time" minOccurs="1" maxOccurs="1" osd:checkNullInput="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>Start Time</osd:label>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="endTime" type="xs:time" minOccurs="1" maxOccurs="1" osd:checkNullInput="true">
                <xs:annotation>
                    <xs:documentation xml:lang="en-US">
                        <osd:label>End Time</osd:label>
                    </xs:documentation>
                    <xs:appinfo>
                        <osd:otherFacets>
                            <osd:minInclusive path="../startTime"/>
                        </osd:otherFacets>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
